.card {
	position: relative;
	display: flex;
	width: 100%;
	border-radius: 5px;
	background: rgba(251, 251, 251, .4);
	box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
	padding: $card--padding;
	margin-bottom: 12px;
	box-sizing: border-box;
	overflow: hidden;
	color: black;
	flex-flow: row wrap;
	transition: opacity 1s;

	&:last-of-type {
		margin-bottom: 0;
	}

	&__text-entry {
		width: 100%;
		background-color: white;
		border-radius: 5px;
		display: flex;
		align-items: center;
		padding: 6px 12px;
		margin-bottom: 12px;
	}

	&__text-input {
		background: none;
		border: none;
		border-bottom: 1px solid white;
		font-size: 1.625em;
		color: black;
		min-width: 10%;
		flex-grow: 1;
		outline: none;
		font-weight: 100;

		&::placeholder {
			color: rgba(255, 255, 255, 0.7);
		}
	}

	&__text-submit {
		position: relative;
		border-radius: 3px;
		background-color: #4F8688;
		border: none;
		font-size: 1em;
		margin-left: 12px;
		color: white;
		padding-left: 12px;
		padding-right: 12px;
		height: 2.25em;
		cursor: pointer;
		transition: all 0.25s;
		width: 100px;
		overflow: hidden;
		outline: none;

		&::before {
			content: url('../icons/loading.svg');
			display: inline-block;
			height: 0;
			transition: all .25s;
			width: 0;
		}

		&--loading {
			animation: spin 1s linear infinite;
			border-radius: 50%;
			color: transparent;
			cursor: default;
			pointer-events: none;
			width: 2.25em;

			&::before {
				position: absolute;
				top: 5px;
				left: 5px;
				bottom: 5px;
				right: 5px;
				height: auto;
				width: auto;
			}
		}
	}

	&__dropdown {
		
		&--onload {
			&::before {
				content: 'Set a Language: ';
			}
		}

		&--detecting {
			&::before {
				content: 'Detecting Language...';
			}
		}

		&--postload {
			&::before {
				content: 'Detected Language: ';
			}
		}
	}

	&--hidden {
		opacity: 0;
	}
}

@keyframes spin {100% {transform: rotate(360deg);}}
