.card {
	background: $card--background;
	box-sizing: border-box;
	color: $card--text-color;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 12px;
	padding: $card--padding;
	position: relative;
	transition: opacity 1s;
	width: 100%;
	max-width: $breakpoint-wide - 60;

	&--transparent {
		padding: $card--padding 0;
		background: transparent;
	}

	&:first-of-type {
		margin-top: 5em;
	}

	&:last-of-type {
		margin-bottom: 36px;
	}

	&__text-entry {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 12px;
	}

	&__text-input {
		background: white;
		border: none;
		padding: 6px 12px;
		border-bottom: 1px solid white;
		font-size: 1.625em;
		color: black;
		min-width: 10%;
		flex-grow: 1;
		outline: none;
		font-weight: 100;

		&:placeholder {
			color: rgba(255, 255, 255, 0.7);
		}
	}

	&__text-submit {
		position: relative;
		height: 3.25em;
		width: 100px;
	}

	&__dropdown {
		margin-left: auto;
		&--onload {
			&::before {
				content: 'Set a Language: ';
			}
		}

		&--detecting {
			&::before {
				content: 'Detecting Language...';
			}
		}

		&--postload {
			&::before {
				content: 'Detected Language: ';
			}
		}
	}

	&--hidden {
		opacity: 0;
		height: 0px;
		padding: 0;
		margin: 0;
	}

	&--loading {
		.icon__loader {
			display: flex;
		}
	}

	&--tiny {
		width: 100px;
		height: 20px;
	}

}

@keyframes spin {100% {transform: rotate(360deg);}}
