.column {
	display: flex;
	flex-direction: row;

	@for $i from 1 through 5 {
		&--#{$i}-sixth {
			width: unquote('#{($i / 6 * 100)}%');
		}
	}

	&--modal {
		margin: 0 $default--padding;
		&:first-of-type {
			margin: 0 ($default--padding * 2) 0 0;
		}

		&:last-of-type {
			margin: 0 0 0 ($default--padding * 2);
		}
	}

	&__gradient-data {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 4em;
		margin-top: -1.5em;

		&--reverse {
			flex-direction: column-reverse;
		}

		&--first {
			align-items: flex-end;
		}

		&--last {
			margin-top: calc(1em + 5px);
			align-items: flex-start;
		}
	}

	&__data-header {
		display: flex;
		justify-content: space-between;
		color: white;

		&--small {
			font-weight: 500;
			font-size: 1em;
		}

		&--content {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			flex-wrap: wrap;

			&:first-of-type {
				margin-left: 5px;
			}

			&:last-of-type {
				margin-right: 5px;
			}
		}

		&--numlangs {
			margin-right: 6px;
		}
	}
}
