.translation-input {
	align-items: center;
	align-self: flex-end;
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	transition: height 1s;
	width: 100%;
	background-color: #f7f5f5;

	.open + & {
		height: 25%;
	}

	&__field {
		border: 0;
		border-bottom: 1px solid black;
		flex-grow: 1;
		font-size: 3.5em;
		height: 1em;
		margin-right: 1em;
		min-width: 80%;
		padding: 12px;
		position: relative;
		width: 80%;
		background-color: #f7f5f5;

		&:focus {
			outline: none;
		}
	}

	&__button {
		background-color: $blue-light;
		border: none;
		outline: none;
		color: white;
		cursor: pointer;
		font-size: 1.25em;
		height: 2.8em;
		position: relative;
		width: 100px;
		transition: all 0.25s;

		&--loading {
			width: 2.8em;
			border-radius: 50%;
			color: transparent;
			animation: spin 1s linear infinite;

			&::before {
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				content: url('/icons/loading.svg');
			}
		}
	}
}

@keyframes spin {100% {transform: rotate(360deg);}}
