.translation-input {
	align-items: center;
	align-self: flex-end;
	display: flex;
	height: 100%;
	transition: height 1s;
	width: 100%;

	.open + & {
		height: 25%;
	}

	&__field {
		height: 1em;
		width: 80%;
		border: none;
		border-bottom: 1px solid black;
		margin-left: auto;
		margin-right: auto;
		padding: 12px;
		font-size: 3.5em;

		&:focus{
			outline: none;
			border-bottom: 1px solid $light-blue;
		}
	}
}
