.translation-output {
	align-items: flex-end;
	align-self: flex-start;
	display: flex;
	height: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	transition: height 1s;
	overflow: hidden;

	&.open {
		height: 75%;
	}

	&__graph{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		//width: 450px;
	}

	&__bar{
		fill: $blue-lightest;
	}

	.y, .x{
		&.axis{
			.domain{
				fill: none;
				stroke-width: 1;
				stroke: #000;
			}
		}
	}



}
