.sidebar {
	width: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
	margin-top: $header--padding;

	&__call-to-action {
		color : #BEBEBE;
	}

	&__header {
		margin-top: 36px;
	}

	&__languages {
		padding: 0;
		padding-left: 10px;
		overflow-x: visible;
	}

	&__language {
		list-style-type: none;
	}

}
