.sidebar {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	width: 275px;
	padding: 36px;
	box-sizing: border-box;
	overflow-y: scroll;

	&__call-to-action{
		font-weight: 100;
		font-size: 1em;
	}

	&__header {
		margin-top: 36px;
	}

	&__languages {
		padding: 0;
	}

	&__language {
		list-style-type: none;
	}

}
