.table {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: 1;

	&__column {

		@for $i from 1 through 5 {
			&--#{$i}-sixth {
				width: unquote('#{($i / 6 * 100)}%');
			}
		}

		&--gradient {
			position: absolute;
			top: 1.5em;
			bottom: 0;
			right: 0;
			background: linear-gradient(#E4607F, #9265A3);
			z-index: -1;

		}

		&--sortable {
			&::after {
				display: inline-block;
				content: url('../icons/arrow.svg');
				margin-left: 6px;
				transition: transform 0.5s;
			}
		}

		&--up {
			&::after {
				transform: rotate(180deg);
			}
		}

		&--down {
			&::after {
				transform: rotate(0deg);
			}
		}


	}

	&__row {
		width: 100%;
		display: flex;
		height: 1.5em;

		&--highlight {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	&--header {
		text-transform: uppercase;
		cursor: default;
	}
}

.column {
	&__gradient-data {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 4em;
		margin-top: -1.5em;

		&--reverse {
			flex-direction: column-reverse;
		}

		&--first {
			align-items: flex-end;
		}

		&--last {
			margin-top: calc(1em + 5px);
			align-items: flex-start;
		}
	}

	&__data-header {
		display: flex;
		justify-content: space-between;
		color: white;

		&--small {
			font-weight: 500;
			font-size: 1em;
		}

		&--content {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			flex-wrap: wrap;

			&:first-of-type {
				margin-left: 5px;
			}

			&:last-of-type {
				margin-right: 5px;
			}
		}

		&--numlangs {
			margin-right: 6px;
		}
	}
}
