//------------------------------
//
// Baseline Colors
//
//------------------------------

$blue-darkest : #0B3C4C;
$blue-dark: #0E5066;
$blue: #13647F;
$blue-light: #127899;
$blue-lightest: #1A8BB2;
