$header--height: 80px;
$card--padding: 24px;
$header--padding: 20px;
$header--padding--sides: 30px;
$main-side-margin: .03;

$breakpoint-wide: 1222px;
$breakpoint-normal: 768px;
$breakpoint-tablet: 480px;

$sideBarWidth: 275px;
