//------------------------------
//
// Typography Styling
//
// Base typographic styles without imposing
// too many opinions on style.
//
//------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

html, 
input, 
select, 
textarea {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  line-height: 1.5;
  color: white;
  -webkit-font-smoothing: antialiased;
}

// Header Styles //
h1, 
h2, 
h3, 
h4 {
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1 {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: -.02em;
  text-transform: uppercase;

}
h2 {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: -.02em;
}
h3 {
  font-size: 1em;
  font-weight: 400;
}
h4 {
  font-size: 1em;
  font-weight: 700;
}

/* Reset paragraph bottom margins */
p {
  margin: 0 0 0 0;
}

/* Create a line break between subsequent paragaphs,
 * except for the last child */
p + p {
  margin-bottom: $spacing-2;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Create a line break between subsequent Sub-heads + paragaphs,
 * except for the last child */
h4 + p {
  margin-bottom: $spacing-2;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
