body {
	background: linear-gradient(to bottom right, $gradient__green--start, $gradient__green--end);
	height: 100%;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

.content-wrapper {
	box-sizing: border-box;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;

	&__scroll {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}
